<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alwaysConvertRawFilesWhenPossible</key>
	<false/>
	<key>minimumSignalLevelForImage</key>
	<integer>0</integer>
	<key>mapSkipEmptyRegions</key>
	<false/>
	<key>bitsPerSample</key>
	<integer>8</integer>
	<key>samplesPerPixel</key>
	<string>3</string>
	<key>debugImageType</key>
	<integer>1</integer>
	<key>pixelsWidth</key>
	<integer>500</integer>
	<key>pixelsHeight</key>
	<integer>500</integer>
	<key>frameRate</key>
	<string>30</string>
	<key>mapDeltaX</key>
	<integer>0</integer>
	<key>mapDeltaY</key>
	<integer>0</integer>
	<key>mapDeltaZ</key>
	<integer>0</integer>
	<key>mapImagesX</key>
	<integer>1</integer>
	<key>mapImagesY</key>
	<integer>1</integer>
	<key>mapImagesZ</key>
	<integer>1</integer>
	<key>delayAfterStageMove</key>
	<integer>0</integer>
	<key>mapThetaStart</key>
	<integer>0</integer>
	<key>mapThetaStep</key>
	<integer>5</integer>
	<key>timeSeriesImages</key>
	<integer>18</integer>
	<key>mapThetaEnd</key>
	<integer>90</integer>
	<key>timeSeriesTimePointInMinutes</key>
	<integer>1</integer>
	<key>timeSeriesMovieLength</key>
	<integer>30</integer>
	<key>compatibleWithOldFTDIDriver</key>
	<false/>
	<key>useFilterUnitForColorSeparation</key>
	<true/>
	<key>fixRawFileAlpha</key>
	<true/>
	<key>cloneAllImageProviders</key>
	<false/>
	<key>liveStreamStep</key>
	<integer>1</integer>
	<key>selectedChannelsToAccumulate</key>
	<integer>6</integer>
	<key>selectedChannelsToStream</key>
	<integer>6</integer>
	<key>userAnsweredConversion</key>
	<false/>
	<key>averageFrame</key>
	<integer>30</integer>
	<key>doNotCalculateFloatingPointInRealTime</key>
	<false/>
	<key>userCalciumToolSetStampSize</key>
	<integer>25</integer>
	<key>userCalciumToolSetStampDuration</key>
	<integer>1</integer>
</dict>
</plist>
